@charset "utf-8";
/* RESET */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, big, cite, code,
 em, img, ins, kbd, q,
small, strike, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul, ol, li {
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:visited {
	text-decoration: none;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:block;
	clear:both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
img{
	display: block;
	border: none;
	max-width: 100%;
}

